{% extends 'visitapp/base.html' %}
{% load static %}
<!-- Main -->
{% block main %}
<h2>Dépôts à la banque</h2>
<!-- Search form -->
<button onclick="DisplayForm()">Afficher / Masquer la recherche avancée</button>
<form id="FilterForm" action="" method="get" style="display: {{ display_form }};">
  <ul>
  {% for field in filter.form %}
    {{ field.errors }}
    <li>{{ field.label_tag }} {{ field }}</li>
  {% endfor %}
  </ul>
  <button id="FilterButton" type='submit'>Rechercher</button>
  <input type="submit" name="reset" value="Annuler" style="color: white; background-color: red; cursor: pointer;">
</form>
<hr>
{% with n_deposits=object_list|length %}
<p>{{ n_deposits }} dépôt{% if n_deposits > 1 %}s{% endif %} à la banque</p>
{% endwith %}
{% if object_list %}
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Déposant</th>
		  <th>Montant</th>
	  </tr>
	</thead>
	<tbody>
    {% for deposit in object_list %}
    <tr>
		  <td>{{ deposit.date }}</td>
      <td>{{ deposit.depositor }}</td>
		  <td>{{ deposit.amount }} €</td>
    </tr>
    {% endfor %}
    <tr style="background-color: #333; color: white;">
      <td colspan='2' style="text-align: right;">Total:</td>
      <td>{{ total_amount }} €</td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}
