{% extends 'visitapp/base.html' %}
{% load static %}
<!-- Main -->
{% block main %}
<h2>Membres</h2>
<!-- Search form -->
<button onclick="DisplayForm()">Afficher / Masquer la recherche avancée</button>
<form id="FilterForm" action="" method="get" style="display: {{ display_form }};">
  <ul>
  {% for field in filter.form %}
    {{ field.errors }}
    <li>{{ field.label_tag }} {{ field }}</li>
  {% endfor %}
  </ul>
  <button id="FilterButton" type='submit'>Rechercher</button>
  <input type="submit" name="reset" value="Annuler" style="color: white; background-color: red; cursor: pointer;">
</form>
<hr>
<table>
  <thead>
    <tr>
      <th>Nom</th>
		  <th>Prénom</th>
		  <th>Email</th>
      <th>Téléphone</th>
		  <th>Date de naissance</th>
      <th>Date d'adhésion</th>
      <th>Statut</th>
      <th>Actif</th>
	  </tr>
	</thead>
	<tbody>
    {% for member in object_list %}
    <tr>
		  <td>{{ member.last_name }}</td>
		  <td>{{ member.first_name }}</td>
      <td>{{ member.email }}</td>
      <td>{{ member.phone.as_national }}</td>
      <td>{{ member.date_of_birth }}</td>
      <td>{{ member.date_joined|date:'j F Y' }}</td>
      <td>{% if member.grade == 'A' %}Adhérent{% elif member.grade == 'C' %}Collège{% else %}Honneur{% endif %}</td>
      <td>{% if member.active %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Oui">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="Non">{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
