{% extends 'visitapp/base.html' %}
{% load static %}
<!-- Main -->
{% block main %}
<h2>Membres</h2>
<!-- Search form -->
<button onclick="DisplayForm()">Afficher / Masquer la recherche avancée</button>
<form id="FilterForm" action="" method="get" style="display: none;">
  {{ filter.form.as_p }}
  <button type='submit'>Rechercher</button>
</form>
<hr>
<table>
  <thead>
    <tr>
      <th>Nom</th>
		  <th>Prénom</th>
		  <th>Email</th>
      <th>Téléphone</th>
		  <th>Date de naissance</th>
      <th>Date d'adhésion</th>
      <th>Statut</th>
      <th>Actif</th>
	  </tr>
	</thead>
	<tbody>
    {% for member in filter.qs %}
    <tr>
		  <td>{{ member.last_name }}</td>
		  <td>{{ member.first_name }}</td>
      <td>{{ member.email }}</td>
      <td>{{ member.phone.as_national }}</td>
      <td>{{ member.date_of_birth }}</td>
      <td>{{ member.date_joined|date:'j F Y' }}</td>
      <td>{% if member.grade == 'A' %}Adhérent{% elif member.grade == 'C' %}Collège{% else %}Honneur{% endif %}</td>
      <td>{% if member.active %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Oui">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="Non">{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
